<div class="jumbotron text-center" >
    <h2>
                Words of Advice
    </h2>
    <p>
      Zyrtec, Zyrtec, Zyrtec!

      Our venue is stunning, breathtaking, dreamy, and also located in the dead center of Texas Hill Country.
    </br>
    </br>
      Meaning, dead center in the most irritable pollen in Texas. 
    </br>
     </br>
Even if you don't have bad allergies
      or allergies at all, I HIGHLY suggest you get a bottle of allergy 
      medication and take a few BEFORE you arrive and take some more throughout 
    the day.

    Trust me, I learn the hard way with each vendor visit in Austin.
    </p>        
</div>
<div class="jumbotron text-center" >
    <h2>
                Dress Code
    </h2>
</br>
    <p>
        Yes, there is a dress code.
    </br>
</br>

        We will be celebrating our nuptual as a sleek, formal, and fun affair. Please
        dress in your best Black Tie Creative. This dress code is closely related to the traditional Black
        Tie dress code but allows for more fun, infusion of personality, and show of creativity. 
        
        I have a deep love for fashion as an artistic outlet and this is my way to share that love with all of my
        guest. Be sleek, suave, and expressive! I can't wait to see how you tie together class and your own personal sytle!
    </br>
</br>
        If you need a bit of help to guide your tux or dress choice, check out the links below.
    </p>     
    <p>
        <h3>
            Masculine
        </h3>
        <a  href="https://www.articlesofstyle.com/articles/post/wtf-is-black-tie-creative">
            Articles of Style
        </a></br>
        <a href="http://hespokestyle.com/creative-formal-attire/">
            He Spoke Style
        </a></br>
        <a href="https://www.ties.com/blog/formal-dress-codes-for-men">
             Ties.com
        </a></br>
        <a href="https://theblacktux.com/groomsguide/style-guide/dress-codes">
            The Black Tux
        </a></br>
        <a href="http://emilypost.com/advice/attire-guide-dress-codes-from-casual-to-white-tie/">
            Emily Post
        </a>

        <h3>
            Feminine
        </h3>
        <a  href="http://stylecaster.com/dress-code/#slide-5">
            Sytlecaster
        </a></br>
        <a href="https://www.liveabout.com/dress-codes-for-special-occasions-4125842">
            Live About
        </a></br>
        <a href="http://emilypost.com/advice/attire-guide-dress-codes-from-casual-to-white-tie/">
            Emily Post
        </a>
    </p>
    
</div>