<%- contentFor('header')%>
    <header>
        <script>
            //changing the footer to stay at the very bottom on the page, removes sticky footer
            $(document).ready(function () {
                document.getElementById("footer").style = "display:block;";
            });
        </script>

        <nav id="navBar" class="navbar navbar-inverse navbar-fixed-top scrolling-navbar justify-content-center">

                <div class="text-left  d-none d-lg-block d-xl-block" id="headerinfo"> April 29th, 2018 </div>​
                <h1 class="h1-responsive  d-none d-lg-block d-xl-block" id="headerh2">
                        Ebonie 
                        &
                        
                        Cody 2018
                    </h1>
        
                    
                    <div id="headerinfo" class="text-right d-none d-lg-block d-xl-block"> Jonestown, TX </div>

                <div class="d-lg-none d-xl-none" style="width:100%">
                        <h1 class="h1-responsive " id="headerh2" >
                                Ebonie & Cody 2018
                </h1>
                </div>

            <div id="mobile" class="row btn-group " style="display:none">
                <div id="mobileDivider">
                    ________________________________
                </div>

                <div class="dropdown">
                    <button id="links" class="btn btn-flat btn-block btn-md dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Site Links
                    </button>
                    <div class="dropdown-menu dropdown-primary">
                            <a class="dropdown-item" href="/">
                                <h4>Home</h4>
                            </a>
                            <a class="dropdown-item" href="/schedule">
                                <h4>Schedule</h4>
                            </a>
                            <a class="dropdown-item" href="/hellotoyes">
                                <h4>Hello to Yes</h4>
                            </a>
                            <a class="dropdown-item" href="/rsvp">
                                <h4>RSVP</h4>
                            </a>
                            <a class="dropdown-item" href="/venue">
                                <h4>Logistics</h4>
                            </a>
                            <a class="dropdown-item" href="/registry">
                                <h4>Registry</h4>
                            </a>
                            <a class="dropdown-item" href="/faq">
                                <h4>FAQ</h4>
                            </a>
                            <a class="dropdown-item" href="/venue">
                                <h4>Venue</h4>
                            </a>
                            <a class="dropdown-item" href="/about">
                                <h4>About Us</h4>
                            </a>
                            <a class="dropdown-item" href="/cobonie2018">
                                <h4>#cobonie2018</h4>
                            </a>
                            <a class="dropdown-item" href="/aestetic">
                                <h4>Aesthetic</h4>
                            </a>
                    </div>
                </div>
            </div>

            <div id="loginFirst" class="<%= guest%>" style="display:none">

                <ul id="nav" class="nav justify-content-center">
                    <li class="navbar-text">
                        <a class="nav-link" href="/">
                            <h3> Home</h3>
                        </a>
                    </li>
                    <li class="navbar-text">

                        <a class="nav-link" href="/schedule">
                            <h3>Schedule</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/hellotoyes">
                            <h3> Hello to Yes</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/rsvp">
                            <h3> RSVP</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/venue">
                            <h3>Logistics</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/registry">
                            <h3>Registry</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/faq">
                            <h3>FAQ</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/about">
                            <h3> About Us</h3>
                        </a>
                    </li>

                    <li class="navbar-text">
                        <a class="nav-link" href="/cobonie2018">
                            <h3>#cobonie2018</h3>
                        </a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/aestetic">
                            <h3>Aesthetic</h3>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

    </header>

    <%- contentFor('hero')%>


        <script type="text/javascript">
            $(window).load(function () {
                document.getElementById('body').id = 'index';

                getBootstrapDeviceSize();

            });
            //toggling nav bar on desktop to save header space
            $('#navBar').mouseenter(function () {
                document.getElementById("loginFirst").style.display = "inline";
            })

            $('#navBar').mouseleave(function () {
                document.getElementById("loginFirst").style.display = "none";
            })
        </script>

        <%- contentFor('body')%>
            <div id="users-device-size">
                <div id="xs" class="visible-xs"></div>
                <div id="sm" class="visible-sm"></div>
                <div id="md" class="visible-md"></div>
                <div id="lg" class="visible-lg"></div>
            </div>
            
            <div id="body-content">
                    <div class="container">
                            <div class="animated fadeInUp">
                                <h2 id="magAs">
                                  "Hello"
                                </h2>
                            </div>
                        </div>
                <div class="card testimonial-card card-cascade" style="width: 80%; margin:0 10%">
                    <div  id="HTY2"  class="card-up indigo lighten-1" style=" padding: 0% 0 0% 0;  background-color: #F6D8D1;">
                        
                        <h2 id="HTY">
                            November 12th, 2014
                        </h2>
                    </div>
                    <div class="avatar">
                        <img src="../img/cobonie2018/magnoliaFlower.png" class="rounded-circle">
                    </div>
                    <div class="card-body text-center  z-depth-5" style="padding: 2% 2%;">
                        <p id="AUtext">
                            "...I saw on your profile that you liked Community. That's a pretty great show, I found the fourth season was a bit slow
                            for my taste though."
                            </br>
                            </br>
                            "There is no fourth season of Community."
                        </p>
                    </div>
                </div>
                <div class="card" style="padding: 5% 2%; margin:auto;  margin-top: 5%; margin-bottom: 10%; width:90% ">
                        <div class="mask pattern-6 border border-primary">
                        <div id="text" class="text-center white-text"  style=" margin-top: 5%;"  >

                                We've been fluttering around each other for a good portion of our lives. Growing up on opposite sides of the highway, going
                                to the same movie theaters, shopping at the same stores, and driving down the same roads.
                                </br>
                                </br>
                                We lived just two miles away from each other at that point. I just started my senior year of undergrad at Texas A&M's business
                                school and he started his first year at the med school. No doubt, we passed each other dozens of times
                                in our nearest HEB surveying produce.
                                </br>
                                </br>
            
                                But, ultimately, it took a finely tuned algorithm marking us 96% compatible, a misguided implication that the fourth season
                                of Community wasn't worth forgetting about completely, and an encouraging roommate to bring us together.
                            </div>
                            </div>
                </div>
               
               

                <div class="card testimonial-card card-cascade" style="width: 80%; margin:0 10%;">
                    <div class="card-up indigo lighten-1" style=" padding: 0% 0 0% 0;">
                        <h2 id="HTY">
                            July 12th, 2017
                        </h2>
                    </div>
                    <div class="avatar">
                        <img src="../img/cobonie2018/magnoliaFlower.png" class="rounded-circle">
                    </div>
                    <div class="card-body text-center  z-depth-5" style="padding: 2% 2%;">
                        <p id="AUtext">
                            "Let's stop at Cartier for a tour of the mansion while we're in town. We have some time before dinner."
                        </p>
                    </div>
                </div>
                <div id="text"  class="container border border-primary" style="padding: 5% 2%;  margin-top: 5%;    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;">

                    After two and a half years of being together, two of which long distance, we took a trip to New York to catch Broadway shows,
                    stare directly into brightly lit billboards, and gorge ourselves on culinary delights.
                    </br>
                    </br>
                    He told me that he managed to snag a table at the only Michelin Star rated vegetarian restaurant. Deciding to be casual that
                    night, I bought a dress and heels, had my makeup professionally done, and made a wish to any divine entity
                    for my hair. But before dinner, he wanted to take a tour of the Cartier Mansion since we missed our chance
                    on our previous visit.
                    </br>
                    </br>
                    We were guided through three floors, each with large rooms dedicated to specific jewelry and people. One room, watches, dedicated
                    to Andy Warhol due to his obsession with his Cartier Tank. Next, the fine diamonds room, dedicated to
                    Elizabeth Taylor due to her iconic ruby and diamond necklace. Finally, the Princess Salon, which housed
                    all of the engagement and wedding rings, dedicated to the Princess of Monaco, Grace Kelly, due to her
                    love of her engagement ring.
                    </br>
                    </br>
                    Each picture and office inspiration within the salon was explained to us with great historical detail.
                    </br>
                    </br>
                    Never in my life had I been more regretful that I'd worn five-inch stilettos.
                    </br>
                    </br>
                    Luckily for me, the salon was the last stop on our tour. The final room was closed off with Cartier red velvet curtains.
                    Our guide smiled and led us into the room with two seats and two glasses of wine awaiting us.
                    </br>
                    </br>
                    At last, this was it! A place to sit, with wine at that!
                    </br>
                    </br>
                    We took our seats, he took my hands, he took a knee, then he took my breath.
                    </br>
                    </br>
                    <div>
                        <h1 id="mag">
                            Yes

                        </h1>

                    </div>
                </div>

            </div>