<%- contentFor('header')%>
<header>
        <nav class="navbar navbar-inverse navbar-fixed-top scrolling-navbar justify-content-center">

            <div class="center-center " style="text-align:center" id="headerinfo"> April 29th, 2018 </div>​
        </br>
            
            <h1 class="h1-responsive" id = "headerh2" >
                Ebonie & Cody 2018
            </h1>
            <div id="headerinfo" class="text-center"> Jonestown, TX </div>

            <div  id="mobile" class="row btn-group " style="display:none" >
                <div style="display:block">
                    ________________________________
                </div>
            
                    <button id= "links" class="btn btn-unique btn-block btn-md dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Site Links
                    </button>
                    <div class="dropdown-menu">
                            <a class="nav-link" href="/">Home</a>
                            <a class="nav-link" href="/schedule">Schedule</a>
                            <a class="nav-link" href="/hellotoyes">From Hello to Yes</a>
                            <a class="nav-link" href="/rsvp">RSVP</a>
                            <a class="nav-link" href="/venue">Venue</a>
                            <a class="nav-link" href="/about">About Us</a>
                            <a class="nav-link" href="/cobonie2018">#cobonie2018</a>
                            <a class="nav-link" href="/aestetic">Aesthetic</a>
                    </div>
                </div>
        
    </div>
            <!--         <a href="/" class="navbar-brand"></a>
    -->
            <div id="loginFirst" class="<%= guest%>">
                    
                <ul id="nav" class="nav justify-content-center">
                    <li class="navbar-text">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                        <li class="navbar-text">

                            <a class="nav-link" href="/schedule">Schedule</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/hellotoyes">From Hello to Yes</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/rsvp">RSVP</a>
                        </li>
                        <li class="navbar-text">
                            <a class="nav-link" href="/venue">Venue</a>
                        </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>

                    <li class="navbar-text">
                        <a class="nav-link" href="/cobonie2018">#cobonie2018</a>
                    </li>
                    <li class="navbar-text">
                        <a class="nav-link" href="/aestetic">Aesthetic</a>
                    </li>
                </ul>
            
            </div>
        </nav>
         <!--                 <li><a href="/schedule">Schedule</a></li>
        -->


        <!--                 <li><a href="/registry">Registry</a></li>
        -->
        <!--  <li><a href="/faq">FAQs</a></li> -->



        <!--             <li><a href="/games">Games</a></li>
        -->
        <!-- <li><a href="/datageek">Data Geek</a></li> -->
        <!--  <li><a href="/contact">Contact</a></li> -->
        <!-- <li><a href="/siteinfo">Site Info</a></li> -->
        <!--             <li><a href="/vendorpage">Vendor Access Page</a></li>
        -->
    </header>
   
<%- contentFor('hero')%>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/json" src="freegeoip.net/json/github.com>"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <script type="text/javascript">
        $(window).load(function () {
            document.getElementById('body').id = 'index';

            function getBootstrapDeviceSize() {
                return $('#users-device-size').find('div:visible').first().attr('id');
                }
                if (getBootstrapDeviceSize() == ("xs")){
                    document.getElementById("mobile").style = "display:block";
                    document.getElementById("nav").style = "display:none";
             
                }else if(getBootstrapDeviceSize() == ("sm")){
                    document.getElementById("mobile").style = "display:block";
                    document.getElementById("nav").style = "display:none";

                }else if(getBootstrapDeviceSize() == ("md")){
                    document.getElementById("mobile").style = "display:block";
                    document.getElementById("nav").style = "display:none";

                }else{
                    document.getElementById("mobile").style = "display:none";
                    document.getElementById("nav").style = "display:block";

                }


        });
        $(window).mousemove(function () {
            indexon();
        });

        $(window).scroll(function () {

            if ($(this).scrollTop() > 0) {
                $('#headercontent').fadeOut();
            }
            else {
                $('#headercontent').fadeIn();
            }
        });


    </script>
<!-- 
    <section class="hero-HTY">
        <div id='headercontentHTY' class="hero-content-HTY">

        </div>
    </section> -->
    <section class="hero" >
            <div id= 'headercontent'  class="hero-content">
<!--                     
 -->                    <h2 id="mag">
        <img id="mag1" src="../img/Background/SmallMagnolia.png" /> 
                            Hello...
                            <img id="mag2" src="../img/Background/SmallMagnolia.png" />
                        </h2>
                    
<!--                     
 -->            
            
         </div>
        </section>
    <%- contentFor('body')%>
    <div id="users-device-size">
            <div id="xs" class="visible-xs"></div>
            <div id="sm" class="visible-sm"></div>
            <div id="md" class="visible-md"></div>
            <div id="lg" class="visible-lg"></div>
          </div>
    <div id="body-content">
      <!--   <div id="mag">
          
        </div> -->
        <div id="date">
            November 14th, 2014
        </div>
        <div id="text" class="jumbotron text-center">

            <p>
                "...I saw on your profile that you liked Community. That's a pretty great show, the fourth season was a bit slow though."
                </br>
                </br>
                "There is no fourth season of Community."
            </p>

        </div>

        <div id="text">

            We've been fluttering around each other for a good portion of our lives. Growing up on opposite sides of the highway, going
            to the same movie theaters, shopping at the same stores, and driving down the same roads.
            </br>
            </br>
            We lived just two miles away from each other at that point. I just started my senior year of undergrad at Texas A&M's business
            school and he started his first year at the med school. No doubt, we passed each other dozens of times in our
            nearest HEB surveying produce.
            </br>
            </br>

            But, ultimately, it took a finely tuned algorithm marking us 96% compatible, a misguided implication that the fourth season
            of Community wasn't worth forgetting about completely, and an encouraging roommate to bring us together.
        </div>
        <div id="divider">
            -----
            <img src="../img/Background/LongMagnolia.png" /> -----
        </div>
        <div id="date2">
            July 12th, 2017
        </div>

        <div id="text" class="jumbotron text-center">

            <p>
                "Let's stop at Cartier for a tour of the mansion while we're in town. We have some time before dinner."
            </p>

        </div>
        <div id="text">

            After two and a half years of being together, two of which long distance, we took a trip to New York to catch Broadway shows,
            stare directly into brightly lit billboards, and gorge ourselves on culinary delights.
            </br>
            </br>
            He told me that he managed to snag a table at the only Michelin Star rated vegetarian restaurant. Deciding to be casual that
            night, I bought a dress and heels, had my makeup professionally done, and made a wish to any divine entity for
            my hair. But before dinner, he wanted to take a tour of the Cartier Mansion since we missed our chance on our
            previous visit.
            </br>
            </br>
            We were guided through three floors, each with large rooms dedicated to specific jewelry and people. One room, watches, dedicated
            to Andy Warhol due to his obsession with his Cartier Tank. Next, the fine diamonds room, dedicated to Elizabeth
            Taylor due to her iconic ruby and diamond necklace. Finally, the Princess Salon, which housed all of the engagement
            and wedding rings, dedicated to the Princess of Monaco, Grace Kelly, due to her love of her engagement ring.
            </br>
            </br>
            Each picture and office inspiration within the salon was explained to us with great historical detail.
            </br>
            </br>
            Never in my life had I been more regretful that I'd worn five-inch stilettos.
            </br>
            </br>
            Luckily for me, the salon was the last stop on our tour. The final room was closed off with Cartier red velvet curtains.
            Our guide smiled and led us into the room with two seats and two glasses of wine awaiting us.
            </br>
            </br>
            At last, this was it! A place to sit, with wine at that!
            </br>
            </br>
            We took our seats, he took my hands, he took a knee, then he took my breath.
            </br>
            </br>
        </div>
        <div id="mag">
            <img id="mag1" src="../img/Background/SmallMagnolia.png" /> Yes
            <img id="mag2" src="../img/Background/SmallMagnolia.png" />
        </div>
    </div>